<div id="container-div">
    <div id="img-div">
      <img
        src="https://c.tenor.com/znl7mOWHkhwAAAAi/vaxxed-plan-your-vaccine.gif"
        alt="”animated”"
      />
    </div>
    <div id="form-holder-div">
      <h2>Razlog podnosenja zahteva</h2>
      <form class="example-form" >
        <mat-card-content>                 
          <mat-card class="custom-scroll-bar">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: #b3b3b3">Tekst razloga</mat-label>
                <textarea style="color: #b3b3b3" matInput readonly #notes [value]="this.currentNotes" ></textarea>
              </mat-form-field>
          </mat-card>
        </mat-card-content>
        <div class="modal-footer">
          <button
            mat-flat-button
            type="button"
            color="accent"
            class="btn btn-danger"
            (click)="cancel()"
          >
            Zatvori
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="jw-modal-background"></div>
  