<div id="container-div">
  <div id="img-div">
    <img
      src="https://c.tenor.com/znl7mOWHkhwAAAAi/vaxxed-plan-your-vaccine.gif"
      alt="”animated”"
    />
  </div>
  <div id="form-holder-div">
    <h3>Are you sure you want to logout?</h3>
    <div class="modal-footer">
      <button
        mat-flat-button
        class="btn btn-danger"
        (click)="cancel()"
      >
        Cancel
      </button>
      <button
        mat-flat-button
        color="primary"
        class="btn btn-primary"
        id="confirm-logout-button"
        (click)="confirm()"
      >
        Confirm
      </button>
    </div>
  </div>
</div>
<div class="jw-modal-background"></div>
