<div id="container-div">
  <div id="img-div">
    <img
      src="https://c.tenor.com/znl7mOWHkhwAAAAi/vaxxed-plan-your-vaccine.gif"
      alt="”animated”"
    />
  </div>
  <div id="form-holder-div">
    <h2>Evidencija o vakcinaciji protiv COVID-19</h2>
    <form class="example-form" [formGroup]="vakcForm">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input
            matInput
            class="form-control"
            type="text"
            placeholder="Zdravstvena ustanova"
            formControlName="zustanova"
            name="zustanova"
            required
          />
          <mat-hint
            *ngIf="vakcForm.controls['zustanova'].dirty && vakcForm.controls['zustanova'].errors?.['required']"
            >Unesite zdravstvenu ustanovu</mat-hint
          >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input
            matInput
            class="form-control"
            placeholder="Vakcinacijski punkt"
            type="text"
            formControlName="vpunkt"
            required
            name="vpunkt"
          />
          <mat-hint
            *ngIf="vakcForm.controls['vpunkt'].dirty && vakcForm.controls['vpunkt'].errors?.['required'] "
            >Unesite vakcinacijski punkt</mat-hint
          >
        </mat-form-field>
        <div class="imePrezTelefonLekara">
            <mat-form-field >
            <input
                matInput
                class="form-control"
                placeholder="Ime lekara"
                type="text"
                formControlName="ime"
                required
                name="ime"
            />
            <mat-hint
                *ngIf="vakcForm.controls['ime'].dirty && vakcForm.controls['ime'].errors?.['required'] "
                >Unesite ime lekara</mat-hint
            >
            </mat-form-field>

            <mat-form-field >
                <input
                    matInput
                    class="form-control"
                    placeholder="Prezime lekara"
                    type="text"
                    formControlName="prezime"
                    required
                    name="prezime"
                />
                <mat-hint
                    *ngIf="vakcForm.controls['prezime'].dirty && vakcForm.controls['prezime'].errors?.['required'] "
                    >Unesite prezime lekara</mat-hint
                >
            </mat-form-field>

            <mat-form-field >
                <input
                    matInput
                    class="form-control"
                    placeholder="Br. telefona lekara"
                    type="text"
                    formControlName="telefon"
                    required
                    name="telefon"
                />
                <mat-hint
                    *ngIf="vakcForm.controls['telefon'].dirty && vakcForm.controls['telefon'].errors?.['required'] "
                    >Unesite br. telefona lekara</mat-hint
                >
            </mat-form-field>
        </div>
        <div class="tekst">
          <mat-icon matBadgeColor="primary" matBadgePosition="before"
            >info</mat-icon
          >
          Pre davanja vakcine pregledati osobu i upoznati je sa koristima i o
          mogućim neželjenim reakcijama posle vakcinacije. Obavezno upisati
          svaku datu vakcinu i sve tražene podatke u ovaj obrazac i podatke
          uneti u lični karton o izvršenim imunizacijama i zdravstveni karton.
        </div>
        <mat-card>
          <table
            mat-table
            [dataSource]="dataSource"
            matSort
            (matSortChange)="announceSortChange($event)"
            class="mat-elevation-z8"
            id="userTable"
          >
            <ng-container matColumnDef="Naziv vakcine">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header="naziv"
                sortActionDescription="Sort by naziv"
              >
                Naziv vakcine
              </th>
              <td mat-cell name="naziv" *matCellDef="let element">
                {{ element.nazivVakcine }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Datum davanja vakcine">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header="datumDavanja"
                sortActionDescription="Sort by datumDavanja"
              >
                Datum davanja vakcine (V1 i V2)
              </th>
              <td mat-cell *matCellDef="let element" name="datumDavanja">
                {{ element.datumDavanja  | date: 'yyyy-MM-dd'}}
              </td>
            </ng-container>

            <ng-container matColumnDef="Nacin davanja vakcine">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header="nacinDavanja"
                sortActionDescription="Sort by nacinDavanja"
              >
                Nacin davanja vakcine
              </th>
              <td mat-cell *matCellDef="let element" name="nacinDavanja">
                {{ element.nacinDavanja }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Ekstremitet">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header="ekstremitet"
                sortActionDescription="Sort by ekstremitet"
              >
                Ekstremitet
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.ekstremitet }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Serija vakcine">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header="serijaVakcine"
                sortActionDescription="Sort by serijaVakcine"
              >
                Serija vakcine (lot)
              </th>
              <td mat-cell *matCellDef="let element" name="serijaVakcine">
                {{ element.serijaVakcine }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Proizvodjac">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header="proizvodjac"
                sortActionDescription="Sort by proizvodjac"
              >
                Proizvodjac
              </th>
              <td mat-cell *matCellDef="let element" name="proizvodjac">
                {{ element.proizvodjac }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Nezeljena reakcija">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header="nezeljenaReakcija"
                sortActionDescription="Sort by nezeljenaReakcija"
              >
                Nezeljena reakcija
              </th>
              <td mat-cell *matCellDef="let element" name="nezeljenaReakcija">
                {{ element.nezeljenaReakcija }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </mat-card>
        <div class="row">
          <span
            >Dodajte podatke o vakcini u
            <button class="tabelaBtn" (click)="onTabelaVakcina()">tabelu </button></span
          >
        </div>
      </mat-card-content>
      <div class="modal-footer">
        <button
          mat-flat-button
          type="button"
          color="accent"
          class="btn btn-danger"
          (click)="cancel()"
        >
          Odustani
        </button>
        <button
          mat-flat-button
          type="submit"
          color="primary"
          class="btn btn-primary"
          (click)="confirm()"
          [disabled]="vakcForm.invalid"
        >
          Sacuvaj
        </button>
      </div>
    </form>
  </div>
</div>
<div class="jw-modal-background"></div>
<app-popuni-vakcina-podatke
  *ngIf="this.showVakcinaPodatke"
  [brojSaglasnosti]="this.brojSaglasnosti"
  (onPodaciOVakciniClose)="onPodaciOVakciniCloseClicked($event)"
  (onPodaciOVakciniSacuvaj)="onPodaciOVakciniSacuvajClicked($event)"
></app-popuni-vakcina-podatke>
