.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.example-full-width {
  width: 80%;
}

.red {
  color: red;
}

.btn-spacing {
  margin-right: 10%;
}

.dashboard-container {
  padding: 10px 50px 50px 50px;
}

table {
  width: 100%;
  margin-top: 20px;
}

.table-button {
  margin: 5px;
  margin-right: 10px;
}

.pretraga-div {
  padding: 10px 60px 10px 60px;
}

.search-form > * {
  margin: 10px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

// .date-picker {

// }

