.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  font-size: small;
  margin: auto;
}

.red {
  color: red;
}

.btn-spacing {
  margin-right: 10%;
}

.pretraga-div {
  padding: 10px 10px 10px 10px;
}

.example-fit-width {
  font-size: medium;
  width: 40%;
  padding-right: 5px;
  display: inline-block;
}

.example-full-width {
  font-size: medium;
  width: 300px;
  padding: 10px;
}
